# Build artifacts
*.o
*.out
*.exe
*.log

# Binaries
dns_auction
simulate_dns
simulate_vcg

# OS files
.DS_Store

# Editors
.vscode/
*.swp

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/

# virtualenv
venv/

# Output files
results/*.txt
results/*.png
results/*.csv


